<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>SE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>sendmail</display-name>
    <servlet-name>sendmail</servlet-name>
    <servlet-class>sendmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendmail</servlet-name>
    <url-pattern>/sendmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loggedin</display-name>
    <servlet-name>loggedin</servlet-name>
    <servlet-class>loggedin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loggedin</servlet-name>
    <url-pattern>/loggedin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>shop</display-name>
    <servlet-name>shop</servlet-name>
    <servlet-class>shop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shop</servlet-name>
    <url-pattern>/shop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>manhoosda</display-name>
    <servlet-name>manhoosda</servlet-name>
    <servlet-class>manhoosda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manhoosda</servlet-name>
    <url-pattern>/manhoosda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>image</display-name>
    <servlet-name>image</servlet-name>
    <servlet-class>image</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>image</servlet-name>
    <url-pattern>/image</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bro</display-name>
    <servlet-name>bro</servlet-name>
    <servlet-class>bro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bro</servlet-name>
    <url-pattern>/bro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fimage</display-name>
    <servlet-name>fimage</servlet-name>
    <servlet-class>fimage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fimage</servlet-name>
    <url-pattern>/fimage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sort1</display-name>
    <servlet-name>sort1</servlet-name>
    <servlet-class>sort1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sort1</servlet-name>
    <url-pattern>/sort1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sort</display-name>
    <servlet-name>sort</servlet-name>
    <servlet-class>sort</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sort</servlet-name>
    <url-pattern>/sort</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sort2</display-name>
    <servlet-name>Sort2</servlet-name>
    <servlet-class>Sort2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sort2</servlet-name>
    <url-pattern>/Sort2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>male</display-name>
    <servlet-name>male</servlet-name>
    <servlet-class>male</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>male</servlet-name>
    <url-pattern>/male</url-pattern>
  </servlet-mapping>
</web-app>